<head>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>

<div class="text-center">
  <h3>Admin Login</h3><br>
  <p>
  <%= form_tag "/login", class: "form-inline" do %>
    <%= password_field_tag :password, "",class: "form-control input-lg" %>
    <%= submit_tag "Login", class: "btn btn-primary btn-lg" %>
  <% end %>
  </p><br>
  <%= link_to 'Homepage', '/', class: "btn btn-default btn-xs" %>
</div>

