/*

input{
	width: 50px;
	background-color: #f2e6d9;
	font-family: "Verdana", Sans-serif;

}
input.team{
	width: 200px;
	font-family: "Verdana", Sans-serif;
}

input[type=submit]{
	width: 100px;
	font-family: "Verdana", Sans-serif;
}

label{
	font-family: "Verdana", Sans-serif;
}
*/
