// Place all the styles related to the homepage controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
/*
body{
	background-color: #ecd9c6;
}

h1{
	font-family: "Verdana", Sans-serif;
}
h2{
	font-family: "Verdana", Sans-serif;
}

h3{
	font-family: "Verdana", Sans-serif;
}
p{
	font-family: "Verdana", Sans-serif;
}
*/
